<h1>Subscribe Here</h1>

<form action="." method='POST' class="custom-form">
  {% csrf_token %}
  <div class="form-group">
    <label for="id_number">Number:</label>
    <input type="text" id="id_number" name="number" class="form-control" maxlength="12" minlength="12" required>
  </div>
  <div class="form-group">
    <label for="id_amount">Amount:</label>
    <input type="number" id="id_amount" name="amount" class="form-control" min="0" required>
  </div>
  <button type="submit" name="createuser" class="btn btn-primary">Subscribe</button>
</form>